<html>

<head></head>

<body>
    <p>&nbsp;</p>
    <table bgcolor="#edf0f2"
        style="box-sizing: border-box; border-spacing: 0; width: 100%; background-color: #ffffff; border-collapse: separate !important;"
        width="100%">
        <tbody>
            <tr>
                <td style="box-sizing: border-box; padding: 0; font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 16px; vertical-align: top;"
                    valign="top">&nbsp;</td>
                <td style="box-sizing: border-box; padding: 0; font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial,sans-serif; font-size: 16px; vertical-align: top; display: block; width: 600px; max-width: 600px; margin: 0 auto !important;"
                    valign="top" width="600">
                    <div
                        style="box-sizing: border-box; display: block; max-width: 600px; margin: 0 auto; padding: 10px;">
                        <div style="box-sizing: border-box; width: 100%; margin-bottom: 30px; margin-top: 15px;">&nbsp;
                        </div>
                        <div
                            style="box-sizing: border-box; width: 100%; margin-bottom: 30px; background: #ffffff; border: 1px solid #f0f0f0; border-radius: 10px;">
                            <table
                                style="box-sizing: border-box; width: 100%; border-spacing: 0; border-collapse: separate !important;"
                                width="100%">
                                <tbody>
                                    <tr>
                                        <td style="box-sizing: border-box; font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 16px; vertical-align: top; padding: 30px;"
                                            valign="top">
                                            <table
                                                style="box-sizing: border-box; width: 100%; border-spacing: 0; border-collapse: separate !important;"
                                                width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td style="box-sizing: border-box; padding: 0; font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 16px; vertical-align: top;"
                                                            valign="top">
                                                            <p
                                                                style="color: #294661; font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 300;">
                                                                Dear <%= values.name %>,<br> <br> We're delighted to
                                                                    inform you that you've been selected to
                                                                    receive limited edition NFT as part of our recent
                                                                    Airdrop event at Aviation Festival, Singapore.
                                                                    This token is a unique digital asset, and we're
                                                                    thrilled to welcome you into the
                                                                    WEB3 world of Loyyal.
                                                            </p>
                                                            <p
                                                                style="color: #294661; font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 300;">
                                                                Keep this nft handy with you for exciting offers and
                                                                premium access. This nft will be your future gateway to
                                                                loyyal’s
                                                                exclusive products
                                                            </p>
                                                            <table
                                                                style="box-sizing: border-box; width: 100%; border-spacing: 0px;"
                                                                width="100%">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="box-sizing: border-box; padding: 0px; vertical-align: top;"
                                                                            valign="top">&nbsp;</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="box-sizing: border-box; padding: 0px; vertical-align: top;"
                                                                            valign="top">
                                                                            <table
                                                                                style="box-sizing: border-box; border-spacing: 0px; width: 100%;"
                                                                                width="100%" cellspacing="0"
                                                                                cellpadding="0">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td style="box-sizing: border-box; padding: 0px 0px 15px; vertical-align: top;"
                                                                                            align="center" valign="top">
                                                                                            <table
                                                                                                style="box-sizing: border-box; border-spacing: 0px; width: auto;"
                                                                                                cellspacing="0"
                                                                                                cellpadding="0">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td style="box-sizing: border-box; padding: 0px; vertical-align: top; border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; text-align: center;"
                                                                                                            align="center"
                                                                                                            valign="top">
                                                                                                            <a
                                                                                                                href="<%= values.imgUrl %>">
                                                                                                                <img style="margin: 20px;"
                                                                                                                    src="<%= values.imgUrl %>"
                                                                                                                    width="400">
                                                                                                            </a>

                                                                                                            <a style="text-decoration: none; "
                                                                                                                href="<%= values.url %>"
                                                                                                                target="_blank"
                                                                                                                rel="noopener">
                                                                                                                <h5
                                                                                                                    style="text-align: 'left'; margin: 0; margin-bottom: 30px; color: #294661; font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 20px; font-weight: 300; margin-top: 20px">
                                                                                                                    <%= values.contractAddress
                                                                                                                        %>
                                                                                                                </h5>
                                                                                                            </a>

                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                            <table
                                                                                                style="box-sizing: border-box; border-spacing: 0px; width: auto;"
                                                                                                cellspacing="0"
                                                                                                cellpadding="0">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td style="box-sizing: border-box; padding: 0px; vertical-align: top; background-color: #348eda; border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; text-align: center;"
                                                                                                            align="center"
                                                                                                            valign="top"
                                                                                                            bgcolor="#348eda">
                                                                                                            <a style="text-decoration: none; padding: 9px 28px; border-radius: 10px; color: white; outline: none; border: none; background-image: linear-gradient(to right, #212b36 10%, #212b36 100%); letter-spacing: 1.5px; font-weight: 100; transition: all linear 0.2s;"
                                                                                                                href="<%= values.url %>"
                                                                                                                target="_blank"
                                                                                                                rel="noopener">
                                                                                                                Join
                                                                                                                Waitlist
                                                                                                                for
                                                                                                                Loyyal
                                                                                                                Wallet</a>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>

                                                                            <p
                                                                                style="margin: 0; margin-bottom: 30px; color: #294661; font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 300;">
                                                                                <br> Thank you for your participation in
                                                                                our event. We look forward to bringing
                                                                                you more exciting opportunities in the
                                                                                future.
                                                                                <br>
                                                                                <br>
                                                                                Team Loyyal <br />
                                                                                <a
                                                                                    href="mailto:support@loyyal.com">support@loyyal.com</a><br />
                                                                                <a
                                                                                    href="https://loyyal.com">www.loyyal.com</a>
                                                                                <br />

                                                                            </p>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div style="box-sizing: border-box; clear: both; width: 100%;">
                            <table
                                style="box-sizing: border-box; width: 100%; border-spacing: 0; font-size: 12px; border-collapse: separate !important;"
                                width="100%">
                                <tbody>
                                    <tr style="font-size: 12px;">
                                        <td style="box-sizing: border-box; font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; vertical-align: top; font-size: 12px; text-align: center;"
                                            align="center" valign="top">
                                            <p
                                                style="color: #294661; font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 12px; font-weight: 400;">
                                                © Loyyal Holdings 2024</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>